.About{
    background-color: #3F3F3F;
    color: #C6C6C6;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1.5rem;
    margin-top: 0;
    margin-bottom: 3rem;
    
}


@media (min-width: 576px) { 

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 
    
}

@media (min-width: 1200px) {  
 

}