.Hero{
    
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2.5rem;
    margin-bottom: 2rem;
    
}

.HeroText{
    background-color: #E3E3E3;
    border-radius: 1rem;
    padding: 1rem;
    padding-bottom: 6rem;
    
   
}
#ProfilePic{
    width: 100%;
    border-radius: 1rem;
        -moz-box-shadow: 14px 14px 0px 0px rgba(117,107,255,1);
    box-shadow: 14px 14px 0px 0px rgba(117,107,255,1);
}
.HeroImg{
    
}



@media (min-width: 576px) { 
   
    .HeroText{
        padding-bottom: 6rem;
}
}

@media (min-width: 768px) { 
    .Hero{
        display: flex;
        flex-direction: row;
    }

    .HeroText{
    width: 60%;
    margin-top: 0;
    height: auto;
    }

    .HeroImg{
        width: 50%; 
    }

}

@media (min-width: 992px) { 
    .HeroText{
        font-size: larger;
    }
    .HeroImg{
        width: 40%; 
    }
}

@media (min-width: 1200px) {  
   
}