.navbar{
    border-radius: 1rem;
    margin: 0.8rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0;
    z-index: 2;
    top:0.3rem;
    
}


.navbar-brand{
    padding:0;
    
}
.navbar-toggler{
    padding:0;
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler-icon:hover{
    filter: invert(63%) sepia(61%) saturate(6400%) hue-rotate(222deg) brightness(97%) contrast(108%);
}



@media (min-width: 576px) { 
    
    
 }

@media (min-width: 768px) { 
    
 }

@media (min-width: 992px) { 
    .navbar-nav{
        position:absolute;
        right: 0;
        padding-right: 0.5rem;
        font-size: 1.2rem;
    }
    .navbar-brand{
        font-size: 1.5rem;
    }
 }

@media (min-width: 1200px) {  
   
   
}