.p1 {
  background-color: #E3E3E3;
  display: flex; /* Added */
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1.5rem;
  margin-top: 0;
  box-shadow: 14px 14px 0px 0px rgba(117, 107, 255, 1);
}

.txt {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 2rem;
}
.mySlides {
  display: none;
  
}

.projectimg1{
  width: 90%;
  border-radius: 2rem;
}
.mySlides.active {
  display:flex;
  justify-content: center;
  margin-bottom: 1rem;
  
}
.github{
  float: right;
}


@media (min-width: 576px) { 
  .mySlides.active {
    height: 30rem;
    
  }
  .projectimg1{
    width: auto;
  }
}

@media (min-width: 768px) { 
  .mySlides.active {
    height: 40rem;
    
  }
  .txt{
    font-size: 18px;
  }
}

@media (min-width: 992px) { 
  .mySlides.active {
    height: 40rem;
    
  }
}

@media (min-width: 1200px) { 
  .mySlides.active {
    height: 40rem;
    
  }
}


